<app-weight-nav-bar (onWeightChange)="getWeightRecordListAndAverageWeightRecordList()"
                    [isAverageWeightToggleSelected]="isAverageWeightToggleSelected"></app-weight-nav-bar>
<app-weight-chart [weightRecordList]="weightRecordList"
                  [averageWeightRecordList]="averageWeightRecordList"
                  [isAverageWeightToggleSelected]="isAverageWeightToggleSelected"
                  [weightChange]="onWeightChange"
                  [averageWeightChange]="onAverageWeightChange"></app-weight-chart>
<app-weight-table [weightRecordList]="weightRecordList"
                  [averageWeightRecordList]="averageWeightRecordList"
                  [isAverageWeightToggleSelected]="isAverageWeightToggleSelected"
                  [weightChange]="onWeightChange"
                  [averageWeightChange]="onAverageWeightChange"
                  (onWeightChange)="getWeightRecordListAndAverageWeightRecordList()"
                  (onSetToggleToWeight)="setToggleOnWeight()"
                  (onSetToggleToAverageWeight)="setToggleOnAverageWeight()"
                  (period)="setPeriod($event)"></app-weight-table>




