<div [hidden]="isLoading">
  <h1>Add Weight</h1>
  <p [hidden]="!isError">ERRRRROOOOOORRRRRR</p>
  <div>
  <p>Date</p>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<br>
<div>
  <p>Weight</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter a weight</mat-label>
    <input matInput [formControl]="weight" cdkFocusRegionstart>
    <span matSuffix>&nbsp;Kg</span>
    <mat-hint>d or dd or dd.d</mat-hint>
  </mat-form-field>
</div>
<br>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="cancel">Cancel</button>
  <button mat-raised-button color="primary" (click)="addButtonClick()" [disabled]="isFormInvalid()">Add</button>
</div>
</div>
<div [hidden]="!isLoading">
  <mat-spinner></mat-spinner>
</div>



